html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}
.container{
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1220px;
}
.main__title{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}
.content-item{
    display: none;
}
.content-item.content-item__active{
    display: inline-block;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
ul{
    list-style: none;
}
.header{
    min-height: 100vh;
    position: relative;
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 0 40px;
}
.menu__btn{
    padding: 15px 58px;
    border-radius: 30px;
    background-color: black;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.header__content-images{
    text-align: center;
    padding-bottom: 50px;
}

/* making font under image with z index -2 in order to get ahead of z index -1 in title--pod (we need relative in header)*/

.header__content-images::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -2;
}
.header__content-images:has(.color--blue.content-item__active)::before{
    background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
}
.header__content-images:has(.color--pink.content-item__active)::before{
    background: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0.00) 100%);
}
.header__content-images:has(.color--green.content-item__active)::before{
    background: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 235, 0.00) 100%);
}
.header__content-images:has(.color--white.content-item__active)::before{
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0.00) 100%);
}
.header__content-images:has(.color--black.content-item__active)::before{
    background: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0.00) 100%);
}
.title{
    font-size: 210px;
    font-weight: 700;
    position: absolute;
}

.title--pod{
    position: relative;
    z-index: -1;
}
.title--s{
    display: inline-block;
    transform: translateY(40px);
    animation: slideForS ease 1s;
}
.title--m{
    display: inline-block;
    transform: translate(-55px ,250px);
    animation: slideForM ease 1s;
}
.title--ax{
    display: inline-block;
    transform: translate(-130px ,380px);
    position: relative;
    z-index: -1;
    animation: slideForAX ease 1s;
}

/* You can remove this animations  */

@keyframes slideForM{
    from{
        transform: translate(-55px ,-200px);
    }
    to{
        transform: translate(-55px ,250px);
    }
}
@keyframes slideForAX{
    from{
        transform: translate(-55px ,-200px);
    }
    to{
        transform: translate(-130px ,380px);
    }
}
@keyframes slideForS{
    from{
        transform: translateY(-80px);
    }
    to{
        transform: translateY(40px);;
    }
}
.choose-color{
    padding: 45px 0 180px;
    text-align: center;
}
.choose-color__title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.choose-color__text{
    max-width: 555px;
    margin: 0 auto 80px;
}
.choose-color__list{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.choose-color__btn{
    border-radius: 20px;
    border: solid 1px grey;
    padding: 50px 50px;
}
.choose-color__btn--active{
    display: none;
}
.composition{
    margin-bottom: 180px;
}
.composition__inner{
    max-width: 625px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.composition__title{
    text-align: center;
}
.composition__text{
    text-align: center;
    max-width: 655px;
    margin: 0 auto 40px;
}
.composition__inner-text{
    width: 230px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.case{
    padding: 90px 0 100px;
    text-align: center;
    background-color: #fafafa;
}
.case__tetx{
    max-width: 845px;
    margin: 0 auto 40px;
}
.energy_title{
    padding-top:160px;
    margin-bottom: 40px;
}
.energy__num{
    font-size: 210px;
    font-weight: 700;
    margin: 40px 0px;
}
.energy__text{
    max-width: 400px;
    margin: 0 auto;
}
.audio{
   /* position: relative; */
   background-image: url(images/person-audio.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
}

/* if you want to add person.jpg and audio.png separately on eachother */

/* .audio::before{
    content: ' ';
    background-image: url(images/person.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.audio::after{
    content: ' ';
    position: absolute;
    background-image: url(images/sound.png);
    bottom: -250px;
    left:0;
    right: 0;
    width: 100%;
    background-repeat: no-repeat;
    height: 150vh;
    background-position: bottom center;
    background-size: cover;
    z-index: -1;
} */
.audio__inner{
    min-height: 220vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.audio__box{
    color: white;
    text-align: center;
    padding-bottom: 50vh;
}
.audio__text{
    width: 300px;
    text-align: center;
}
.btn{
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    padding: 15px 58px;
    cursor: pointer;
}
.footer__text{
    padding: 20px 0;
}
.footer__list{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0 20px;
}
.footer{
    padding: 50px 0 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 700;
}
@media (max-width: 1449px){
    .choose-color__list{
        flex-wrap: wrap;
    }
    .header__content-images img{
        max-width: 100%;
    }
    .title{
        font-size: 180px;
        transform:translate(129px ,29px)
    }
@media (max-width: 1250px){
   .title{
    transform: none;
    font-size: 140px;
    text-align: center;
    padding-top: 20vh;
    left: 0;
    right: 0;
   }
   .title--pod{
    z-index: 1;
    animation: none;
   }
   .title--s{
    z-index: 1;
    transform: none;
    animation: none;
   }
   .title--m{
    transform: none;
    animation: none;
   }
   .title--ax{
    animation: none;
    z-index: 1;
    transform: none;
   }
}
}
@media (max-width: 768px){
    .choose-color{
        padding-bottom: 50px;
    }
    .main__title{
        font-size: 36px;
    }
    .composition{
        margin-bottom: 60px;
    }
    .footer__list{
        flex-wrap: wrap;
    }
    .composition__inner{
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .case-img{
        max-width: 100%;
    }
    .menu__list{
        gap: 0 20px;
    }
    .title{
        font-size: 80px;
        padding-top: 50px;
    }
}
@media (max-width: 900px){
    .title{
        font-size: 100px;
    }
}
